/* Write some CSS below */
* {
  margin: 0;
}

body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: Chivo;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

/* a:hover {
  color: #ce2fae;
} */

.banner {
  background-image: url("images/background.jpg");
  height: 280px;
  background-position: center;
  padding: 80px;
  text-align: center;
  color: white;
}

.banner p {
  opacity: 0.7;
}

.blue-btn {
  background-color: #0d1ec6;
  width: fit-content;
  padding: 16px 24px;
  border-radius: 8px;
  transition: 0.3s;
  display: inline-block;
}

.blue-btn:hover {
  opacity: 0.7;
}

.container {
  margin: 0 auto;
  width: 900px;
  padding: 32px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  width: 200px;
  background-color: white;
  padding: 24px;
  margin: 8px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 22px 0px rgba(84, 84, 84, 0.6);
}

.card img {
  width: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.footer {
  height: 100px;
  background-color: #404042;
  text-align: center;
  color: white;
  padding: 32px;
}
